/*@import "tailwindcss";*/

/*@theme {*/
/*  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,*/
/*    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
/*}*/

/*html,*/
/*body {*/
/*  input {*/
/*    @apply border border-gray-300;*/
/*  }*/

/*  button {*/
/*    @apply border border-gray-300;*/
/*  }*/

/*  @media (prefers-color-scheme: light) {*/
/*    color-scheme: light;*/
/*  }*/
/*}*/
